[submodule "vim/bundle/colors-solarized"]
	path = vim/bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-node"]
	path = vim/bundle/vim-node
	url = https://github.com/guileen/vim-node
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/zencoding.vim"]
	path = vim/bundle/zencoding.vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/vim-jst"]
	path = vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst
[submodule "vim/bundle/vim-rubytest"]
	path = vim/bundle/vim-rubytest
	url = https://github.com/janx/vim-rubytest
[submodule "vim/bundle/vim-autoclose.git"]
	path = vim/bundle/vim-autoclose.git
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/vim-niji"]
	path = vim/bundle/vim-niji
	url = git://github.com/amdt/vim-niji.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/vim-tmux-navigator-"]
	path = vim/bundle/vim-tmux-navigator-
	url = git@github.com:christoomey/vim-tmux-navigator.git
