[user]
  name = Pedro Santos
  email = donbonifacio@gmail.com
[commit]
  template = ~/.git-commit-template
  verbose = true
[diff]
  tool = vimdiff
[difftool]
  prompt = false
  indentHeuristic = true
[alias]
  d = difftool
  s = status -s
  cl = clone
  ci = commit
  co = checkout
  pull-master = pull --rebase origin master
  br = branch
  latest = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
  unmerged = branch --no-merged
  unstage = reset HEAD --
  last = log -1 HEAD
  active-branches = for-each-ref --sort=committerdate refs/heads/
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
  editor = vim
[submodule]
  fetchJobs = 4
[rebase]
  autostash = true
